<h1>Editing Program Classification</h1>

<%= render 'form', program_classification: @program_classification %>

<%= link_to 'Show', @program_classification %> |
<%= link_to 'Back', program_classifications_path %>
